.btn {
	margin-top: 10px;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.comment > .time {
	margin-top: 0px;
}

#nav {
	display: none;
}

.views {
    margin-left: 75%;
    margin-top: -40px;
}

.news > .title {
    font-size: 22px;
    margin-top: -19px;
    display: block;
    max-width: 90%;
}
