html {
	height: 100%;
	background: #efefef;
}

* {
    user-select: none;
    word-wrap: break-word;
}

.content {
	padding: 20px;
	padding-bottom: 15px;
	background-color: white;
    margin-top: 1%;
    margin-bottom: 4%;
    padding-top: 2px;
}

.add_coment {
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 12px;
    background: white;
}

.name {
    text-align: center;
    font-size: 42px;
}

.my_short_info {
	font-size: 15px;
	text-align: center;
}

.contacts {
	text-align: center;
}

.btn a {
	color: white;
}

.my_avatar {
	background: url(/public/images/avatar.png) no-repeat;
    background-size: 100%;
    height: 32px;
    width: 32px;
    padding: 26px;
    border-radius: 99px;
}

#preloader-main {
	margin-top: 17%;
}

.collapsible {
	width: 50%;
}

.btn {
	background-color: #1d85ffd1;
    padding-left: 15px;
    padding-right: 15px;
}

.btn:hover {
	background-color: #1d85ffd1;
}

.last_news > .news > .title {
    font-size: 23px;
    margin-top: -19px;
    display: inline;
    max-width: 90%;
    cursor: pointer;
}
.last_news > .news > .title:hover {
    color: #1d85ffd1;
}

.news > .title {
    font-size: 22px;
    margin-top: -19px;
    display: inline;
    max-width: 90%;
}

.bottom_info > .read {
    display: inline;
    font-size: 18px;
    color: gray;
    cursor: pointer;
}

.bottom_info {
    display: block;
}

.news {
    margin-top: 46px;
}

.news > .text {
    font-size: 14px;
    display: inline-block;
}

.bottom_info > .time {
    text-align: right;
    padding-right: 17px;
    color: gray;
    font-size: 12px;
	margin-top: -38px;
	padding-top: 12px;
}

.news > .row > .time, .news > .row > .time_edited {
    color: gray;
    font-size: 12px;
    text-align: right;
}

img {
	max-height: 70%;
    max-width: 100%;
}

.like, .dislike {
	display: inline;
    font-size: 32px;
    color: gray;
}

.like_img, .dislike_img {
    width: 23px;
    margin-right: 6px;
}

.dislike_img {
    margin-left: 8px;
}

.comment > .name {
    text-align: left;
    font-size: 17px;
    max-width: 55%;
}

.comment {
    margin-top: 14px;
}

.comment > .text {
    font-size: 13px;
    max-width: 70%;
}

.comment > .time {
    text-align: right;
    font-size: 12px;
    color: gray;
    max-width: 100%;
}

.comments {
    padding-top: 18px;
}

p {
    font-size: 18px;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

#nav {
    padding-left: 18px;
    background: white;
    padding-top: 8px;
    position: fixed;
    top: 1%;
    padding-right: 8px;
    padding-bottom: 6px;
    max-width: 25%;
    left: 9px;
    opacity: 1;
    transition: 1s;
    font-size: 13px;
}

.text_views {
    display: inline;
    font-size: 12px;
    color: gray;
    padding-left: 4px;
}

.views {
    font-size: 12px;
    color: gray;
    text-align: right;
}

.center {
    margin-top: -6px;
}

.center_a1 {
    font-size: 18px; 
    color: gray; 
    cursor: pointer; 
    margin-top: 27px;
}

.news_main {
    padding-bottom: 10px;
    background-color: #efefef;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: -1%;
}

.add_coment {
    padding-bottom: 10px;
}

.add_coment > .a2 {
    margin-top: -32px;
}

.publish_comment {
    font-size: 18px;
}

.main-page-btn {
    margin-top: 29px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	border-bottom: 1px solid #1d85ffd1;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1d85ffd1;
    -webkit-box-shadow: 0 1px 0 0 #1d85ffd1;
    box-shadow: 0 1px 0 0 #1d85ffd1;
}

label, .active, label > .ur_name, label > .text_text {
	color: #1d85ffd1;
}

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
	border-bottom: 1px solid #1d85ffd1;
    -webkit-box-shadow: 0 1px 0 0 #1d85ffd1;
    box-shadow: 0 1px 0 0 #1d85ffd1;
}